<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="main-container">
        <div id="title-container">
            <h1 id="title"><%= title %></h1>
        </div>
        <form action="/add-to-list" method="POST">
            <div id="description-container">
                <label for="description" style="display: block;">DESCRIPTION</label>
                <textarea placeholder="Write your description" id="description" name="description" required></textarea>
            </div>
            <div id="flex-box-form" required>
                <div id="category-container">
                    <label for="category" style="display: block; margin-left: 10px;">CATEGORY</label>
                    <select id="category" name="category">
                        <option value="" disabled selected>Choose a category</option>
                        <option value="Personal">Personal</option>
                        <option value="Work">Work</option>
                        <option value="School">School</option>
                        <option value="Cleaning">Cleaning</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div id="date-container">
                    <label for="date" style="display: block">DUE DATE</label>
                    <input placeholder="select due date" id="date" type="date" name="date" min="" required>
                </div>
            </div>
            <div class="buttons-container">
                <button type="submit" id="submit"><span><img src="/images/plus.png"></span>ADD TASK</button>
            </div>    
        </form>
        <div class="buttons-container">
            <a href="" id="delete-link" onclick="checkList()">
                <button type="button" id="delete"><span><img src="/images/delete.png"></span>DELETE TASKS</button>
            </a> 
        </div>
        <div id="taskList">
            <% for(let i of task_list){ %>
                    <div class="task-container">
                        <div class="task-container-left">
                            <input class="checkboxes" type="checkbox" value=<%= i._id%>></input>
                            <div>
                                <p> <%= i.description %> </p>
                                <p class="list-date"><img src="/images/calender.png" width="20px;"><span><%= i.date %></span></p>
                            </div>
                        </div>
                        <p class="task-container-right" id=<%= i.category%> > <%= i.category %> </p>
                    </div>
            <% } %>
        </div>
    </div>
    <script type="text/javascript" src="/js/script.js"></script>
</body>
</html>